html {
  --white: #FFFFFF;
  --black: #000000;
  --yellow: #f48c42;
  --grey: #b39d9d;
  --grey-dark: #B2B2B2;;
  --light: #FAFAFA;
  --dark: #292929;
  --dark-second: #4C4C4C;
  --body-back: #292929;
  --z-1: 0;
  --z-2: 0;
  --z-3: 0;
  --z-4: 0;
  --z-5: 0;
  --width: 70vw;
  --width-desc: calc(var(--width) - 14rem);
}
